<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.PdmanDbVersionMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.pojo.PdmanDbVersion" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="DB_VERSION" property="dbVersion" jdbcType="VARCHAR" />
    <result column="VERSION_DESC" property="versionDesc" jdbcType="VARCHAR" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="VARCHAR" />
  </resultMap>
</mapper>